<header>
    <h1>site web streaning</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit culpa accusantium, impedit eum eius
         blanditiis aliquam commodi, quam minima ratione dolor pariatur facere! Dolore eligendi eveniet, perferendis 
         iusto assumenda sint!
    </p>
</header>